<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Complementos - ADD ONS </title>
    <link rel="stylesheet" href="../style.css">

</head>
<body>
        <!--UTILIZAR CSS Y JS-->
        <header>
            <nav>
                <li><a href="../multi-step-form.html">Tu informacion</a></li>
                <li><a href="./layout/plan-form.html">Selecciona tu Plan</a></li>
                <li><a href="./layout/complement-form.html">Complementos</a></li>
                <li><a href="./layout/summary-deatils.html">Resumen</a></li>

            </nav>

            <form action="">
                <h1>Informacion Personal</h1>
                <p>Necesitamos tus datos para la soulicitud:
                    <span> Nompre, Correo, Telefono, </span>
                </p>
                <label for="input-nombre"></label>
                <input id="input-nombre" class="inputNombre" type="text">
                <label for="input-correo"></label>
                <input id="input-correo" class="inputNombre" type="text">
                <label for="input-telefono"></label>
                <input id="input-telefono" class="inputNombre" type="text">
                <button>Siguiente paso</button>
            </form>
        </header>


    
</body>
</html>