<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agradecimientos</title>
    <link rel="stylesheet" href="../style.css">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../multi-step-form.html">Tu informacion</a></li>
                <li><a href="./layout/plan-form.html">Selecciona tu Plan</a></li>
                <li><a href="./layout/complement-form.html">Complementos</a></li>
                <li><a href="./layout/summary-deatils.html">Resumen</a></li>
            </ul>
        </nav>
        <form action="">
            <p>
                
            </p>

        </form>

    </header>

</body>
</html>