/* Estilo básico */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.input-container {
    margin-bottom: 20px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #4c78af;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
