:root {
  /* primary colors */

  --marine-bule: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --srawberry-red: hsl(354, 84%, 57%);

  /* Neutral colors */

  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  /* typography */

  --font-paragraph: 16px;
}

html {
  font-size: var(--font-paragraph);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--magnolia);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: var(--white);
  width: 940px;
  height: 600px;
  border-radius: 15px;
}
