
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: white;
}

h1{
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: left;
}


#tabla1 {
    background-color: #fdefe3; 
}

#tabla1 th {
    background-color: #f39f21; 
    color: white;
}


#tabla2 {
    background-color: #fce4e4; 
}

#tabla2 th {
    background-color: #4f031c;
    color: white;
}


th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

/* Alternar colores en las filas par */
tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}
