.container{
    display: grid;
    background-color: tomato;
    /*esto es para poner cuantas columnas necesitas como 
    una tabla table fr = fraccion divide  la informacion
    vw = ancho del viuport 
    */
    grid-template-columns: 100px 100px 100px 100px;
    /*poner en medio del contenedor */
    /* justify-content: center; */
    /* justify-items: center; */
    align-items: center;
}


.item{
    border-bottom: 1px solid black;
    background-color: #ddd;
    grid-template-rows: 2;
}